## Question 1

- DataBase-an organized collection of data and information or interrelated data collected at one place.
* SQL-Relational Database
* NOSQL-Non Relational or Distributed Database

## Question 2

###### DDL-Data Definition Language
****
- CREATE-used to create Database,Table  
 CREATE DATABASE temp;
*********
- DROP-used to delete whole database or table  
DROP DATABASE temp;
****
- ALTER-used to add, delete, or modify columns in an existing table.  
ALTER TABLE Customers ADD Email varchar(255);
****
- TRUNCATE-Delete all data inside the table  
TRUNCATE TABLE table1;

## Question 3

##### DML-Data Manipulation Language

- INSERT-used to insert values into the table  
INSERT INTO table1 VALUES(1,'ravi');
*****
- UPDATE-used to modify existing tables  
UPDATE table1 SET name='sachin' WHERE age=19;
****
- DELETE-used to remove existing records from database tables  
DELETE FROM table1 WHERE age=19;

## Question 4

###### DQL-Data Query Language
*****
- SELECT-used to display the records in tha table
SELECT * FROM table1;

## Question 5

- PRIMARY KEY-identifies each record in the table
- FOREIGN KEY-used to link two tables together

## Question 6

In [1]:
import mysql.connector
mydb=mysql.connector.connect(
    host='localhost',
    user='sqluser',
    password='password'
)
#cursor()-used to create object for database so that we can execute commands
cur=mydb.cursor()
#execute()-used to execute SQL commands
cur.execute('CREATE DATABASE temp1')
cur.close()

ModuleNotFoundError: No module named 'mysql'

## Question 7

- 1.FROM clause
- 2.ON clause
- 3.OUTER clause
- 4.WHERE clause
- 5.GROUP BY clause
- 6.HAVING clause
- 7.SELECT clause
- 8.DISTINCT clause
- 9.ORDER BY clause
- 10.TOP clause