## Question 1

In [4]:
import pandas as pd
df=pd.DataFrame({
    'time_spend':[2,3,5,6,1,3,7],
    'scores':[52,63,78,82,35,68,92]
})
df
df.corr(method='pearson')
# result shows if time spend on study increases scores will also increase

            time_spend   scores
time_spend     1.00000  0.96488
scores         0.96488  1.00000

## Question 2

In [7]:
df=pd.DataFrame({
    'time_sleep':[5,6,8,4,3,9,7],
    'job_satisfaction':[3,7,9,2,6,10,9]
})
df.corr(method='spearman')
# result shows if time spend on sleep increases job_satisfaction will also increase

                  time_sleep  job_satisfaction
time_sleep          1.000000          0.882919
job_satisfaction    0.882919          1.000000

## Question 3

In [103]:
import random
exe=[]
bmi=[]
bmi_sam=[16,17,18,19,20,15,21]
exe_sam=[6,7,8,9,10,11,12]
for i in range(50):
    idx=random.randint(0,6)
    bmi.append(bmi_sam[idx])
    exe.append(exe_sam[idx])
df=pd.DataFrame({
    'exercise_hours':exe,
    'bmi':bmi
})

In [104]:
df.head()

   exercise_hours  bmi
0              11   15
1              11   15
2              10   20
3               7   17
4               9   19

In [106]:
df.corr(method='spearman')
#from result-as no of hours spent on exercise increases bmi increases

                exercise_hours       bmi
exercise_hours        1.000000  0.071121
bmi                   0.071121  1.000000

## Question 4

In [10]:
import pandas as pd
import random
tv=[]
phy=[]
tv_sam=[1,2,3,4,5,6,7]
phy_sam=[4,5,6,7,8,9,10]
for i in range(50):
    idx=random.randint(0,3)
    tv.append(tv_sam[idx])
    phy.append(phy_sam[idx])
df=pd.DataFrame({
    'tv_hours':tv,
    'physical_activity':phy
})

In [11]:
df.corr(method='pearson')

                   tv_hours  physical_activity
tv_hours                1.0                1.0
physical_activity       1.0                1.0

## Question 5

In [39]:
df=pd.DataFrame({
    'age':[25,42,37,19,31,28],
    'soft_drink':['coke','pepsi','mount_dew','coke','pepsi','coke']
})
df
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['enc_sofr_drink']=enc.fit_transform(df[['soft_drink']])

C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [40]:
df

   age soft_drink  enc_sofr_drink
0   25       coke               0
1   42      pepsi               2
2   37  mount_dew               1
3   19       coke               0
4   31      pepsi               2
5   28       coke               0

In [41]:
df.cov()

                      age  enc_sofr_drink
age             68.666667        6.266667
enc_sofr_drink   6.266667        0.966667

In [42]:
df.corr()

                     age  enc_sofr_drink
age             1.000000        0.769175
enc_sofr_drink  0.769175        1.000000

## Question 6

In [14]:
import pandas as pd
import random
cal=[]
sal=[]
calls=[20,25,30,22,27,35,40,33,46]
sales=[100,150,170,180,190,200,170,209]
for i in range(30):
    idx=random.randint(0,7)
    cal.append(calls[idx])
    sal.append(sales[idx])
df=pd.DataFrame({
    'calls_perday':cal,
    'sales_perweek':sal
})
df.tail()

    calls_perday  sales_perweek
25            27            190
26            27            190
27            40            170
28            35            200
29            40            170

In [13]:
df.corr(method='pearson')

               calls_perday  sales_perweek
calls_perday       1.000000       0.462387
sales_perweek      0.462387       1.000000