## Question 1

In [1]:
import pandas as pd
num=pd.Series([4, 8, 15, 16, 23,42])
print(num)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Question 2

In [2]:
import numpy as np
list1=np.arange(1,11)
ser=pd.Series(list1)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

## Question 3

In [3]:
details={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Male"]}
students=pd.DataFrame(details)
print(students)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27    Male

## Question 4

 - In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. The columns in a DataFrame can be of different data types such as integers, floats, strings, or dates.

 - On the other hand, a Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.). A DataFrame can be seen as a collection of Series objects, where each column represents a Series.

In [4]:
import pandas as pd

data = {
    'name': ['John', 'Marry', 'Peter', 'Samantha'],
    'age': [28, 31, 25, 29],
    'gender': ['M', 'F', 'M', 'F']
}


df = pd.DataFrame(data)

name_series = df['name']

print(df)
print("******************************")
print(name_series)

       name  age gender
0      John   28      M
1     Marry   31      F
2     Peter   25      M
3  Samantha   29      F
******************************
0        John
1       Marry
2       Peter
3    Samantha
Name: name, dtype: object

## Question 5

- head() and tail(): To view the first or last n rows of a DataFrame. For example, df.head(10) would return the first 10 rows of the DataFrame.

- info(): To get a summary of the DataFrame, including the data types of each column, the number of non-null values, and the memory usage. This can be useful for getting a quick overview of a large DataFrame.

- describe(): To generate descriptive statistics of the DataFrame, such as the count, mean, standard deviation, and quartiles of each column.

- drop(): To remove rows or columns from the DataFrame. For example, df.drop(['col1', 'col2'], axis=1) would remove columns 'col1' and 'col2' from the DataFrame.

- fillna(): To fill in missing values in the DataFrame with a specified value or method. For example, df.fillna(0) would replace all missing values in the DataFrame with 0.

- groupby(): To group rows in the DataFrame by one or more columns and perform aggregate functions on the groups. For example, df.groupby('category').mean() would group the DataFrame by the 'category' column and calculate the mean of each numerical column for each group.

- merge(): To merge two or more DataFrames based on a common column or index. For example, pd.merge(df1, df2, on='key') would merge two DataFrames df1 and df2 based on the 'key' column.

- pivot_table(): To create a pivot table from the DataFrame based on one or more columns. For example, pd.pivot_table(df, values='value', index='category', columns='date') would create a pivot table that shows the 'value' column for each 'category' and 'date' combination

In [5]:
print(df.describe())
print("************************************")
print(df.info())

         age
count   4.00
mean   28.25
std     2.50
min    25.00
25%    27.25
50%    28.50
75%    29.50
max    31.00
************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

## Question 6

Out of Series, DataFrame, and Panel, only the DataFrame is mutable in nature.

mutable object is one whose value can be changed after it is created. A DataFrame is mutable because
it allows us to add or remove columns, modify existing values, or even add or remove rows'''

## Question 7

In [6]:
#yes you can create a DataFrame using multiple Series, we can use the pandas library in Python
names = pd.Series(['John', 'Mary', 'Peter', 'Emma', 'David'])
ages = pd.Series([32, 27, 41, 18, 24])
det = pd.DataFrame({'Name': names, 'Age': ages})
print(det)

    Name  Age
0   John   32
1   Mary   27
2  Peter   41
3   Emma   18
4  David   24